<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="JavaScript" src="amlich-hnd.js" type="text/javascript"></script>
    <script language="JavaScript">
        showVietCal();
    </script>
</head>
<body>
    <table align="center" cellspacing="1" border="0">
        <tr>
            <td align="center">
                <script language="JavaScript">
                    document.writeln(printSelectedMonth());
                </script>
            </td>
        </tr>
    </table>
</body>
</html>