.footer-container {
    display: flex;
    justify-items: center;
    padding: 0px;
    border-top: 1px solid #FAACA8;
    margin: 40px 0px;
}

.footer-item {
    padding: 10px;
    width: 100%;
    display: grid;
    justify-items: center;
}

.identity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}   

.logo-container img{
    width: 80%;
}

.name-container {
    width: 70%;
    padding: 0px;
}

.name-container p{
    width: 100%;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.slogan-container {
    padding: 0px;
}

.slogan-container p{
    padding-top: 10px;
    font-size: 22px;
    font-weight: 50%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    width: 100%;
}

.service-container {
    margin-bottom: 10px;
    width: 100%;
}

.service-title, .social-title {
    display: flex;
    justify-items: left;
}

.service-title p , .social-title p{
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin: 10px 0px;
}

.service-item-container {
    display: flex;
    justify-items: center;
}

.service-item {
    display: grid;
    justify-items: left;
    width: 50%;
    padding: 0px;
}

.service-text p{
    padding: 5px 0px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.social-container {
    width: 100%;
}

.social-item-container {
    display: flex;
    justify-items: center;
    margin-left: 30px;
    padding-top: 10px;
}

.social-item {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 950px) {
    .footer-container {
        display: grid;
        justify-items: center;
    }

    .identity-container {
        padding: 0px 10px;
    }

    .service-item-container {
        margin-left: 40px;
    }

    .name-container p {
        font-size: 40px;
    }

    .slogan-container p {
        font-size: 18px;
    }

    .service-title p, .social-title p {
        font-size: 23px;
    }

    .service-text p {
        font-size: 18px;
    }
}