.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.Name-page,
.Product,
.Service,
.Information,
.Help {
    min-width: 150px;
    margin: 5px;
    color: white;
    font-size: 10px;
}

.NamePage h3 {
    color: white;
    font-size: 10px;
    flex: 1; /* Give each column equal width */
    min-width: 200px; /* Set a minimum width for each column */
    margin: 10px; /* Add some margin between columns */
    color: #FAACA8;
}

.NamePage h3 {
    color: #FAACA8;
}

h2 {
    border: none;
    margin-bottom: 5px;
    font-size: 20px;
    color: #FAACA8;
}

li {
    padding-top: 2px;
    text-align: left;
    font-size: 20px;
    list-style-type: none;
    color: #FAACA8;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        padding: 5px;
    }

    .Name-page,
    .Product,
    .Service,
    .Information,
    .Help {
        flex: 1; /* Allow items to grow and fill the available space */
        min-width: unset; /* Remove the minimum width */
        text-align: center;
        margin: 2px;
    }

    h3 {
        text-align: center;
        margin-bottom: 2px;
    }

    ul {
        padding-inline-start: 0;
    }

    li {
        text-align: center;
        list-style-type: none;
        padding-top: 0;
    }
}