.Banner-Welcome{
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
}

.Boi-Bai-Tarot{
    display: flex;
    font-size: 1cm;
    color: white;
    align-items: center;
    margin-left: 20px;
}
.text-Boi-Bai-Tarot{
    display: flex;
    color: white;
    align-items: center;
    margin-right: 30px;
}