.Banner-Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.Boi-Bai {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-Boi-Bai {
    width: auto;
    text-align: center;
    display: flex;
    color: white;
    align-items: center;
}

.Boi-bai-area {
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 50px;
}

.Card-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}

.Card {
    flex: 0 0 auto;
    width: 250px;
    height: 500px;
    perspective: 1000px;
    margin: 0 10px;
}

.Card img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@media (max-width: 768px) {
    .Card-area {
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 10px 0;
    }

    .Card {
        flex: 0 0 auto;
        margin: 0 10px;
    }
}

.Card.flipped img {
    transform: rotateY(180deg);
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreenContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 800px;
    max-height: 80vh;
}

.fullscreenContent img {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
}

.cardMeaning {
    max-height: calc(80vh - 480px);
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.summarizedMeaning {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: left;
    color: #333;
}

.summarizedMeaning h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #ff5e62;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.result-label {
    font-size: 32px;
    font-weight: 600;
    color: #ff5e62;
    margin-bottom: 10px;
    text-align: center;
}

.result-value {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.overall-message {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.overall-message h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ff5e62;
}

.overall-message p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.summarizedMeaning h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.summarizedMeaning p {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .Card-area {
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 10px 0;
    }

    .Card {
        flex: 0 0 auto;
        margin: 0 10px;
    }
}

.Button {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 94, 98, 0.5);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this value as needed */
}

/* Add this CSS rule */
.Button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff5e62, #ff9966, #ff5e62, #ff9966);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 7px;
}

/* Add this keyframe animation */
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.readAloudButton {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.readAloudButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 94, 98, 0.5);
}

.readAloudButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.readAloudButton::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff5e62, #ff9966, #ff5e62, #ff9966);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 7px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}