/* Heder */
.Header {
    margin-top: 25px;
}

.Header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Header .Header-title {
    width: 100%;
    text-align: center;
}

.Header .Header-title h1 {
    display: block;
    height: auto;
    font-size: calc(16px + 1.5vw);
    font-weight: 800;
    color: #FAACA8;
}

.Header .Header-text p {
    display: block;
    text-align: center;
    margin: 1.5vw 0px;
    color: #FAACA8;
    font-size: calc(12px + 1vw);
    font-weight: 200;
}

/* End Header */

/* Body */
.Body {
    margin-top: 50px;
}

.Body .Guide-text {
    display: block;
    text-align: center;
    color: #FAACA8;
    font-size: calc(12px + 1vw);
    font-weight: 500;
}

.Body .Input-area {
    display: block;
    margin: 25px;
}

.Body .Input-area ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.Body .Input-area li {
    margin: 0px;
    flex: 1;
    min-width: 150px;
    max-width: 250px;
}

.Body .Input-area .input-container {
    text-align: center;
}

.Body .input-text {
    align-items: center;
}

.Body .input-text p {
    text-align: center;
    color: #FAACA8;
    font-size: calc(12px + 1vw);
    font-weight: 500;
}

.Body .input-area {
    margin-top: 20px;
    align-items: center;
}

.Body .Button-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.Body .Button-area button {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
}

.Body .Button-area button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 94, 98, 0.5);
}

.Body .Button-area p {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.Body .select {
    width: 100%;
    height: 35px;
    color: #FAACA8;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #FAACA8;

}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
    .Header .Header-title h1 {
        font-size: calc(16px + 4vw);
    }

    .Header .Header-text p {
        font-size: calc(12px + 2vw);
    }

    .Body .Guide-text {
        font-size: calc(12px + 2vw);
    }

    .Body .input-text p {
        font-size: calc(12px + 2vw);
    }

    .Body .Button-area button {
        width: calc(100px + 10vw);
        height: calc(35px + 5vw);
    }

    .Body .Button-area p {
        font-size: calc(14px + 1vw);
    }
}

@media (max-width: 480px) {
    .Body .Input-area ul {
        flex-direction: column;
        align-items: center;
    }

    .Body .Input-area li {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .result-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .result-label {
        font-size: 24px;
        margin-bottom: 0;
        flex: 1;
    }

    .result-value {
        font-size: 18px;
        flex: 1;
    }
}

/* End Body */

.summarizedMeaning {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: left;
    color: #333;
}

.summarizedMeaning h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #ff5e62;
}

.result-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-label {
    font-size: 24px;
    font-weight: 600;
    color: #ff5e62;
    margin-bottom: 10px;
    text-align: center;
}

.result-value {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}


.overall-message {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.overall-message h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ff5e62;
}

.overall-message p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.Banner-Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.Boi-Ngay-Sinh {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #FAACA8;
}

.text-Boi-Ngay-Sinh {
    width: auto;
    text-align: center;
    display: flex;
    color: #FAACA8;
    align-items: center;
    font-size: calc(12px + 1vw);
    font-weight: 200;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-label {
    font-size: 24px;
    font-weight: 600;
    color: #ff5e62;
    margin-bottom: 10px;
    text-align: center;
}

.result-value {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}