.Button {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, #ff9966, #ff5e62);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 94, 98, 0.5);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this value as needed */
}