.dichVu3 {
    padding: 0 0 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .danhGia {
    height: 17.51%;
    width: 15.19%;
    color: $light-pink;
    display: flex;
    text-align: center;
    margin-bottom: 71px;
    @include fjalla-one-55-regular;
  }
  .star9 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 548px;
    bottom: -12px;
  }
  .star15 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    right: 240px;
    bottom: -12px;
  }
  .star14 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    right: 276px;
    bottom: -12px;
  }
  .star13 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    right: 312px;
    bottom: -12px;
  }
  .star12 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    right: 384px;
    bottom: -12px;
  }
  .star11 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 476px;
    bottom: -12px;
  }
  .star10 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 584px;
    bottom: -12px;
  }
  .star8 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 512px;
    bottom: -12px;
  }
  .flexWrapperOne {
    display: flex;
    align-items: flex-start;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  .tomS {
    width: 9.28%;
    font-family: "Fjalla One";
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    color: $light-pink;
    align-self: stretch;
    text-align: center;
    &:not(:last-of-type) {
      margin-right: 350px;
    }
  }
  .star7 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 440px;
    bottom: -12px;
  }
  .star2 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 36px;
    bottom: -12px;
  }
  .star6 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 144px;
    bottom: -12px;
  }
  .star4 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 108px;
    bottom: -12px;
  }
  .star3 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 72px;
    bottom: -12px;
  }
  .star1 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    left: 0;
    bottom: -12px;
  }
  .startingMyRoleAsAWordPressAdminis {
    max-width: 410px;
    width: 31.78%;
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: $light-pink;
    align-self: stretch;
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
  .star16 {
    width: 2.02%;
    height: 6.06%;
    position: absolute;
    right: 348px;
    bottom: -12px;
  }